<div class="row">
	<div class="col-md-6">
		<form ng-submit="buscarArticulos()">
			<div class="form-group">
				<div class="checkbox">
				  <label><input type="checkbox" ng-model="blnAutor" ng-change="verificar()" id="chkAutor" value="">Autor</label>
				</div>
				<input id="txtAutor"  required="true" class="form-control" type="text" name="autor" ng-model="autor">
			</div>
			<div class="form-group">
				<div class="checkbox">
				  <label><input type="checkbox" ng-model="blnArticulo" ng-change="verificar()" id="chkArticulo" value="">Artículo</label>
				</div>
				<input id="txtArticulo" required="true" class="form-control" type="text" name="articulo" ng-model="articulo">
			</div>
			<div class="form-group">
				<div class="checkbox">
				  <label><input type="checkbox" ng-model="blnAnio" ng-change="verificar()" id="chkAnio" value="">Año</label>
				</div>
				<input id="txtAnio" required="true" class="form-control" name="anio" ng-model="anio">
			</div>
			<div class="form-group" style="text-align:right;">
				<input value="Buscar" type="submit" class="btn btn-warning">
			</div>			
		</form>
		
	</div>
</div>
<div class="row" ng-show="articulos.length > 0">
	<div class="col-md-12">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{anio}}</h3>
		  </div>
		  <div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Autor</th>
						<th>Articulo</th>
						<th></th>	
					</tr>
				</thead>
				<tbody ng-repeat="articulo in articulos">
					<tr>
						<td>
							{{articulo.nombreautor}}
						</td>
						<td>
							{{articulo.nombrearticulo}}
						</td>
						<td>
							<a href="revistas/{{articulo.path}}.pdf" target='_blank'>
						 		Descargar
						 	</a>
						</td>
					</tr>
				</tbody>
			</table>
		  </div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$("#chkAutor").change(function(){
			if($(this).is(':checked')){
				$("#txtAutor").prop('disabled',false);
				$("#txtAutor").prop('required',true);
			}else{
				$("#txtAutor").prop('disabled',true);
				$("#txtAutor").removeAttr('required');
				$("#txtAutor").val("");
			}
		});

		$("#chkArticulo").change(function(){
			if($(this).is(':checked')){
				$("#txtArticulo").prop('disabled',false);
				$("#txtArticulo").prop('required',true);
			}else{
				$("#txtArticulo").prop('disabled',true);
				$("#txtArticulo").removeAttr('required');
				$("#txtArticulo").val("");
			}
		});

		$("#chkAnio").change(function(){
			if($(this).is(':checked')){
				$("#txtAnio").prop('disabled',false);
				$("#txtAnio").prop('required',true);
			}else{
				$("#txtAnio").prop('disabled',true);
				$("#txtAnio").removeAttr('required');
				$("#txtAnio").val("");
			}
		});		
	})
</script>